{% extends 'base.html' %}
{% block content %}
{% if add %}
<h2>Új kategória</h2>
{% else %}
<h2>Kategória szerkesztése</h2>
{% endif %}
<form method="post">
    {{ form.csrf_token }}
    <div class="form-row {% if form.name.errors %}has-error{% endif %}">
        <label for="name">{{ form.name.label }}</label>
        {{ form.name(id='name', class_='input-field', size=40) }}
        {% if form.name.errors %}
            <div class="field-error">
                {% for err in form.name.errors %}
                    <div>{{ err }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div>{{ form.submit(class_='btn') }}</div>
</form>
{% endblock %}
